/* App.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .window {
    height: 100vh; 
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  
  #window1 {
    background-color: black;
  }
  
  #window2 {
    background-color: black;
  }
  
  #window3 {
    background-color: black;
  }
  
  #window4 {
    background-color: black;
  }
  